{% extends "base.html" %}
{% block title %}
    <h1 class="center-align">
        <span style = "color:#000000;"> submit a paper</span>
    </h1>
    <div align="right">
             <a href="/home">Go back to home</a></p>
        </div>
{% endblock %}

{% block content %}

<form method="post" action="/submitpaper/" enctype="multipart/form-data"> {% csrf_token %}
    <table class="center-align-table" border="0">
    <tbody>
    <p></p>
    <p>{% if form.errors %}</p>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: center;"><span style="color: #ff0000;">*There are some empty fields. Please try again.</span></p>
    <p>{% endif %}</p>
    <p></p>
    <tr>
    <th><label for="title">Title:</label></th>
    <td>{{ form.title }}</td>
</tr>
<tr>
    <th><label for="submitter">Author:</label></th>
    <td>{{ form.submitter }}</td>
</tr>
<tr>
    <th><label for="version">Version:</label></th>
    <td>{{ form.version }}</td>
</tr>
<th><label for="formats">Format:</label></th>
    <td>{{ form.formats }}</td>
<tr>
    <th><label for="document">Paper:</label></th>
    <td>{{ form.document }}</td>
</tr>



    </tbody>
</table>
  <div class="center-align">
             <input class="button-below-table" type="submit" value="submitpaper" name="submitpaper"/></p>
        </div>


{% endblock %}