{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
   <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                <h1 id="login_header"><span id="sam_color">SAM</span>2017</h1>
                            <form method="post" action=".">{% csrf_token %}
                                <table border="0">
                                    <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;<label for="id_username">Username &nbsp;</label></th><td>{{ form.username }}</td></tr>
                                    <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;<label for="id_password">Password &nbsp;</label></th><td>{{ form.password }}</td></tr>
                                </table>
                                <br/>
                                <div id="button_align">
                                <input type="submit" class="btn btn-info" value="Login" />
                                <input type="hidden" name="next" value="/home" />
                                <a href="/register" class="btn btn-default">Register</a>
                                </div>
                                <br/>
                            </form>
                            {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
</div>

{% endblock %}