{% extends "base.html" %}
{% block head %}Administrator Registration{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 id="header_margin">Register Admin</h1>
    <form method="post" action=".">{% csrf_token %}
        <table class="table table-bordered table-hover" border="0">
            {{ form.as_table }}
        </table>
        <input class="btn btn-info" type="submit" value="Register" />
    </form>
    </div>
</div>
    <!--<a href="/">Login</a>--> 
{% endblock %}