{% extends "base.html" %}
{% block title %}Welcome to SAM2017{% endblock %}
{% block head %}Welcome to SAM2017{% endblock %}
{% block content %}

    <p>Welcome {{ user.username }} </p>
		{% for group in user.groups.all %}
		{% if group.name == 'PCM' or group.name == 'author' %}
		<p> <a href="/submitpaper/"> Submit a paper </a> </p>
	<p> <a href="/SubmittedPapers/"> View your Submissions </a> </p>
		{% endif %}
	{% endfor %}
	
	
	{% for group in user.groups.all %}
		{% if group.name == 'PCM' or group.name == 'PCC' %}
		<p> <a href="/pcmpapers/"> View and Select Submissions </a></p>
		{% endif %}
	{% endfor %}
	
	
	
	{% for group in user.groups.all %}
		{% if group.name == 'PCC'%}
			<p> <a href="/pccpapers/"> View and Assign Submissions </a></p>
		{% endif %}	
		{% endfor %}
	
	{% for group in user.groups.all %}
		{% if group.name == 'admin'%}
			<p> <a href="/createpcc/"> Create PCC account </a></p>
			<p> <a href="/createpcm/"> Create PCM account </a></p>
			<p> <a href="/manageaccounts/"> Manage accounts </a></p>
			<p> <a href="/setdeadlines/"> Set Deadlines </a></p>
			<p> <a href="/createtemplates/"> Create Templates </a></p>
		{% endif %}	
		{% endfor %}
	<p> <a href="/logout/">Logout</a> </p>
    <p> <a href="/notifications/">Notifications</a> </p>
{% endblock %}