{% extends "base.html" %}
{% block title %}Welcome to SAM2017{% endblock %}
{% block head %}Welcome to SAM2017{% endblock %}
{% block content %}

    <p>Welcome {{ user.username }} </p>
	<p> <a href="/submitpaper/"> Submit a paper </a> </p>
	<p> <a href="/SubmittedPapers/"> View your Submissions </a> </p>
    <p> <a href="/logout/">Logout</a> </p>
    <p> <a href="/show_notifications/">Notifications</a> </p>
	
	{% for group in user.groups.all %}
		{% if group.name == 'PCM' or group.name == 'PCC' %}
		<p> <a href="/pcmpapers/"> View and Select Submissions </a></p>
		{% endif %}
	{% endfor %}
	
	
	
	{% for group in user.groups.all %}
		{% if group.name == 'PCC'%}
			<p> <a href="/pccpapers/"> View and Assign Submissions </a></p>
		{% endif %}	
		{% endfor %}
		{% endblock %}