


        <div class="container">
            {% if user.is_authenticated != True %}
                <h1>Hi! Welcome to SAM 2017</h1>
            {% else %}
                <h1>Hi{{ ' ' }}{{ user.first_name }}! Welcome to SAM 2017</h1>
            {% endif %}

            <p>ToolShare is intended to improve communities by providing an easy mechanism for sharing items between neighbors.</p>

            {% if user.is_authenticated != True %}
                <p><a style="margin: 10px" class="btn btn-primary btn-lg" role="button" href="{% url 'samapp:signin' %}">Sign-in »</a><a style="margin: 10px" class="btn btn-primary btn-lg" role="button" href="{% url 'samapp:register' %}">Not a member? Register now! »</a></p>
            {% endif %}
        </div>