{% block content %}


                <b>PCMs and PCC </b>
            </div>
        </div>
        <div > 
{% if PCM|length == 0 and PCC|length == 0 %}
<div class="center-align" style="color: #000000;">
<p>Sorry. There are no existing PCC or PCM accounts </p>
</div>
{% else %}
  <div>
	<table>
    <thead>
      <tr>
	  <th>  Username </th>
	 
			<th> First Name </th>
			<th> Last Name </th>
			<th> Status </th>
			<th> Update </th>
			<th> Activate/Deactivate </th> 
			  
			 </tr>
    </thead>
     <tbody>
	{% for object in PCC %}

		
			<tr> 
        <form method="post" action="/manageaccounts/" enctype="multipart/form-data">{% csrf_token %}  
		    <p>{% if form.errors %}</p>
			<p style="text-align: left;">&nbsp;</p>
			<p style="text-align: center;"><span style="color: #ff0000;">*There are some empty fields. Please try again.</span></p>
			<p> {% endif %} </p>
			<td> {{ object.user.username }} </td>	
			<td> {{ object.fname }}  </td>
			<td> {{ object.lname }}  </td>
			<td> PCC </td>
			<td> <button class="btn btn-default"> <a href="{% url 'UpdatePCC' object.user.id %}">  Update  </a> </button>
             </td> 
			 <td>
			 {% if object.user.is_active = True %}
			 <input class="btn btn-default" type="submit" value="Deactivate" name="DeactivatePCC"/> 
				  <input type="hidden" value={{ object.user.id }} name="RequestID"/>
			{% elif object.user.is_active = False %}
			 <input class="btn btn-default" type="submit" value="Activate" name="ActivatePCC"/> 
				  <input type="hidden" value={{ object.user.id }} name="RequestID"/>
			{% endif %}
			</td> 
		</tr>	
		{% endfor %}	
		
		
		{% for objecta in PCM %}
		<tr>
			<td> {{ objecta.user.username }} </td>	
			<td> {{ objecta.fname }}  </td>
			<td> {{ objecta.lname }}  </td>
			<td> PCM </td>
			<td>  <button class="btn btn-default"> <a href="{% url 'UpdatePCM' objecta.user.id %}">  Update  </a> </button>
             </td> 
			 
			 <td>
			 {% if objecta.user.is_active = True %}
			 <input class="btn btn-default" type="submit" value="Deactivate" name="DeactivatePCM"/> 
				  <input type="hidden" value={{ objecta.user.id }} name="RequestID1"/>
			{% elif objecta.user.is_active = False %}
			 <input class="btn btn-default" type="submit" value="Activate" name="ActivatePCM"/> 
				  <input type="hidden" value={{ objecta.user.id }} name="RequestID1"/>
			{% endif %}
			</td> 
	
		
		 </tr>
		{% endfor %}	
        
		</form>		 
		
		
		
	
	
</tbody>
	</table>
  </div>
{% endif %}
	

{% endblock %}

	