{% extends "base.html" %}

{% block title %}
<h1 class="center-align">
    <span class="center-align" style = "color:#000000;">PCC Ratings</span>
</h1>
<div align="right">

</div>
{% endblock %}

{% block content %}

<p></p>

<strong>PCC Rating</strong>
<form method="POST" id="form"  enctype="multipart/form-data">
    {% csrf_token %}
   <table border="0">

            {{ form.as_table }}

   </table>
    <div class="center-align">
        <input class="button-below-table" type="submit" value="Rate" name="Rate"/></p>
        <input class="button-below-table" type="submit" value="Conflict" name="Conflict"/></p>

        </div>


</form>




{% endblock %}