{% extends "base.html" %}

{% block title %}
    <h1 class="center-align">
        <span class="center-align" style = "color:#000000;">Your Submitted Papers</span>
    </h1>
    <div align="right">
    <span align="right"><a href="/home">Go back to home</a></span>
</div>
{% endblock %}

{% block content %}

<p></p>
{% with b=0 %}
{% endwith %}
<table class="center-align-table" border="2">
     <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Version</th>
            <th>Format</th>
            <th>Paper</th>
        </tr>
    {% for object in papers %}
        {% if object.contact_author_id == authorId %}
        {% with b=1 %}
        {% endwith %}
            <tr>
                <td><p>{{object.submitter}}</p></td>
                <td><p>{{object.title}}</p></td>
                <td><p>{{object.version}}</p></td>
				<td><p>{{object.formats}}</p></td>
                <td><a href="{{object.paper.url}}"> Paper </a> </td>
            </tr>
    {% endif %}
    {% endfor %}
<!-- </table>
{% for object in toolsRegister %}
    {% if object.author_id == authorId %}
    {% with b=1 %}
    {% endwith %}
        <p>{{object.nameOfTheTool}}</p>
         <img src="{{object.image.url}}" class='img-res' width=100/>
{% endif %}
{% endfor %}}
{% if b == 0 %}-->
    <p>{{message}}</p>
{% endif %}

    <!--<a href="/home">Home</a>--><p></p>

{% endblock %}