{% extends "child-base.html" %}

{% block title %}
    <h1 class="center-align">
        <span class="center-align" style = "color:#000000;">Submitted Papers</span>
    </h1>
    <div align="right">
    <span align="right"><a href="/home">Go back to home</a></span>
</div>
{% endblock %}



{% block innercontent %}

{% if paper|length == 0 %}

<p> No papers have been submitted yet. </p>

{% else %}
<div class="container">
<div class="row">
    <h1 id="header_margin">View Papers</h1>
		<table class="table table-striped table-hover " id="table_change" border="0">
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Version</th>
            <th>Format</th>
            <th>Paper</th>
			<th>Rate</th>
			<th> Assign </th>
		</tr>
        </thead>

         {% for object in paper %}
				{% with b=1 %}
				{% endwith %}
            <tbody>
            <tr class="warning">
                <td><p>{{object.submitter}}</p></td>
                <td><p>{{object.title}}</p></td>
                <td><p>{{object.version}}</p></td>
				<td><p>{{object.formats}}</p></td>
                <td> <a href="{% url 'downloadPDF' object.id %}" width="100" target="_blank"/> Paper </a></td>
			    <td><p> <a  href="{% url 'ReviewPCC' object.id %}"> Rate Paper </a> </p></td>
				<td> {% if object.assigned == False %}
					<button class="btn btn-default"> <a href="{% url 'assignpapers' object.id %}">  Assign  </a> </button>
					{% else %}
				
					<p> Assigned </p> 
					{% endif %}
				</td>
    
	</tr>
            {% endfor %}
            </table>

    </div>
    </div>
	{% endif %}

	{% endblock innercontent %}
	