{% extends "child-base.html" %}

{% block title %}
    <h1 class="center-align">
        <span class="center-align" style = "color:#000000;">PCM Ratings</span>
    </h1>
    <div align="right">

</div>
{% endblock %}

{% block innercontent %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 id="header_margin">PCM Rating</h1>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover" id="table_change"  border="0">
        <thead>
         <tr>
             <th>Title

                <td><label name="title" value="{{papers.title}}">{{title.title}}</label></td>

             </th>
        </tr>
         </thead>
        <tbody>
             <tr>

                <th>Paper</th>
                 <td> <a href="{% url 'downloadPDF' title.id %}" width="100" target="_blank"/> Paper </a></td>
                <!--<td><a href="{{paper.url}}"> Paper </a> </td>-->
         </tr>
                <tr><th>Rating</th>
                    <td><input type="radio" name="rating" value="1"> 1<br/>
                    <input type="radio" name="rating" value="2"> 2<br/>
                    <input type="radio" name="rating" value="3"> 3<br/>
                    <input type="radio" name="rating" value="4"> 4<br/>
                    <input type="radio" name="rating" value="5"> 5
                    </td>
                </tr>
                <tr><th>Comment</th>
                 <td><p><textarea id="id_comment" name="comments"></textarea></p></td></tr>
                <tr><th>Action</th>
                <td><input class="btn btn-info" type="submit" value="Save" name="Rate"/>
                </tr>
        </tbody>
    </table>




</form>
</div>
</div>
</div>

<!--<p><input class="button-below-table" type="submit" value="Submit Review" name="Review"/></p>-->
<!-- {% for object in toolsRegister %}
    {% if object.author_id == authorId %}
    {% with b=1 %}
    {% endwith %}
        <p>{{object.nameOfTheTool}}</p>
         <img src="{{object.image.url}}" class='img-res' width=100/>
{% endif %}
{% endfor %}}
{% if b == 0 %}-->
    <p>{{message}}</p>
<!--{% endif %}-->

    <!--&lt;!&ndash;<a href="/home">Home</a>&ndash;&gt;<p></p>-->

{% endblock innercontent%}