{% extends 'child-base.html' %}

{% block innercontent %}

{% with b=0 %}
{% endwith %}

<div class="container">
<div class="row">
<h1 id="header_margin">PCM Selected Papers</h1>

{%if paper|length == 0%}

<p> No papers have been submitted yet. </p>

{% else %}
<table class="table table-bordered table-hover " id="table_change"  border="0">
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Version</th>
            <th>Format</th>
			<th> Select </th>	
		</tr>
     </thead>
    <p>{{message}}</p>
		{% for object in paper %}
				{% with b=1 %}
				{% endwith %}
        <tbody>
            <tr class="warning">
                <td><p>{{object.submitter}}</p></td>
                <td><p>{{object.title}}</p></td>
                <td><p>{{object.version}}</p></td>
				<td><p>{{object.formats}}</p></td>
				<input type='hidden' name='RequestID' value = {{object.id}} /> 
				 
				 <td>  <button class="btn btn-default" name='Selected'> Select </button> </td>
                <td><p> <a href="{% url 'ReviewPCM' object.id %}"> Rate Paper </a> </p></td>
			
    
	</tr>
	{% endfor %}
	{% endif %}
</div>
</div>
    <!--<a href="/home">Home</a>--><p></p>

{% endblock innercontent %}