{% extends 'child-base.html' %}
{% block title %}SAM 2017 - View Notifications{% endblock %}
{#{% block navbar_view-notifications %}active{% endblock %}#}

{% block innercontent %}
{#    {% if user.is_authenticated %}#}
        {% if notifications %}
            <ol>
            {% for notification in notifications %}
                <li>
                    <div class="alert alert-dismissible alert-success" >
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ notification.title }}</strong> | {{ notification.message }}.
                    </div>
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <h2> You have no notifications at the Moment</h2>
        {% endif %}
{#    {% else %}#}
{#        <p>Please login to view your notifications</p>#}
{#    {% endif %}#}
{% endblock innercontent%}